* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Poppins Regular";
    src: url("./assets/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins Bold";
    src: url("./assets/Poppins-Bold.ttf");
}

body {
    width: 100vw;
    height: 100vh;
    background: url(./assets/background.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-family: "Poppins Regular", sans-serif;
}

#page-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    height: 80vh;
    background: rgb(220, 230, 245);
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
    padding: 50px;
}

.bold {
    font-family: "Poppins Bold", sans-serif;
}

.hover {
    transition: transform 0.3s ease;
}

.hover:hover {
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
header {
    display: flex;
    background: transparent;
    width: 90vw;
    padding: 10px;
    align-items: center;
}

#account-btn {
    margin-left: auto;
}

#account-logo {
    width: 3.5rem;
}

#logo {
    margin-right: auto;
    width: 3.5rem;
}

/* Side Nav */
#sidenav {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.nav-tile {
    height: 17vh;
    width: 15vw;
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px;
    background: rgb(240, 245, 250);
}

#create-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    font-size: 1.5rem;
    font-weight: 700;
    overflow: hidden;
    color: rgb(240, 245, 250);
}

#create-btn > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
  z-index: 0;
}

#create-btn > img:hover {
    filter: blur(8px);
}

#create-btn > span {
    position: absolute;
    z-index: 1;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
    justify-content: space-evenly;
    height: 100%;
}

.link-item {
    display: flex;
    font-family: "Poppins Bold", sans-serif;
    transition: color 0.2s ease;
}

.link-item:hover {
    color: rgb(88, 133, 172);
}

.arrow {
    margin-left: auto;
    font-family: "Poppins Regular", sans-serif;
}

/* Main Content */

main > h1 {
    text-align: center;
    color: rgb(110, 155, 194);
    font-size: 3rem;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px;
    row-gap: 50px;
    column-gap: 25px;
    margin-top: -20px;
}

.project {
    width: 15vw;
    height: 25vh;
    border: 1px solid white;
    border-radius: 15px;
    overflow: hidden;
    background: rgb(240, 245, 250);
    padding: 15px;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 20%;
    width: 100%;

    background: rgb(110, 155, 194);
    font-size: 1.25rem;
    color: rgb(240, 245, 250);
    border-radius: 5px;
}

/* Side */
#side {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 50px;
}

.side-tile {
    width: 15vw;
    height: 30vh;

    background: rgb(110, 155, 194);;
    border: 1px solid white;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;

    text-align: center;
    color: rgb(240, 245, 250);
}

.side-tile > .bar {
    background-color: rgb(240, 245, 250);
    border-radius: 12px;
    color: rgb(110, 155, 194);
}

.side-tile > h3 {
    padding: 0;
    margin-bottom: -10px;
}